.containerLayout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divInside{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    border-radius: 15px;
    border: none;
    height: 60px;
    width: 600px;
    min-width: 300px;
    outline: none;
    background:#F6F6F6;
    color: #628E90;
    transition: 0.2s ease-in-out; 
    box-shadow: 1px 1px 1px 1px #D8E3E7;
}

.divInside:hover{
    background: #E8F0F2;
}

.divText{
    width: 400px;
}

.divButton{
    width: 200px;
}

@media (max-width:600px) {
    .buttonInside{
        width: 400px;
    }
    .divText{
        width: 300px;
        font-size: 0.8em;
    }
    .divButton{
        width: 100px;
    }
}
